.main-app-wrpr {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  background-color: #eee;
}
.main-app-wrpr .main-screen-wrpr {
  background-color: #eee;
  height: 100%;
  width: 100%;
}
.main-app-wrpr .main-screen-wrpr .center-area-wrpr {
  top: 0;
  height: auto;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
  background-color: #eee;
}
.main-app-wrpr .main-screen-wrpr .center-area-wrpr .main-data-area-wrpr {
  left: 0;
  bottom: 0;
  right: 0;
  height: 96%;
  width: 100%;
}

.search-view {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.search-view .search-view-separator {
  width: 95%;
  max-width: 95%;
  border-top: 1px solid #e2e2e2;
}

.result {
  width: 100%;
  height: 212px;
  background-color: #fff;
  cursor: pointer;
}

.result-wrpr {
  display: grid;
  grid-template-columns: 212px 40% 1fr;
  grid-template-rows: 212px;
  gap: 0 0;
  grid-template-areas: "result-thumbnail result-info result-location";
}

.result-info {
  grid-area: result-info;
  overflow: hidden;
}

.result-thumbnail {
  grid-area: result-thumbnail;
  padding: 16px;
  overflow: hidden;
}
.result-thumbnail img {
  object-fit: cover;
  height: 180px;
  width: 180px;
  border-radius: 4px;
}

.result-location {
  grid-area: result-location;
  padding-right: 32px;
  padding-top: 32px;
  text-align: right;
}

.result-info-title {
  margin-top: 32px;
  font: 18px Arial;
}

.result-info-price {
  margin-top: 32px;
  font: 24px Arial;
}

.result-location-text {
  margin-top: 16px;
  font: 12px Arial;
}

.result-info-truck-icon {
  color: #008000;
  font: 10px Arial;
  padding: 4px;
}

.item-view-title {
  padding-top: 16px;
  font: 24px Arial;
}

.item-view-price {
  margin-top: 32px;
  margin-bottom: 32px;
  font: 46px Arial;
}

.item-view-buy-btn {
  background-color: #3483fa;
  font: 16px Arial;
  width: 100%;
  height: 40px;
  color: #eee;
  border: 0;
  border-radius: 3px;
}

sup {
  vertical-align: top;
  position: relative;
  top: 3px;
  font: 0.5em Arial;
  margin-left: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

.search-bar {
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 45px;
  max-height: 45px;
  min-height: 45px;
  background-color: #ffe600;
}

.search-bar-wrppr {
  height: 45px;
  max-height: 45px;
  min-height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.search-bar-logo {
  background-image: url("../logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  order: 1;
  width: 55px;
  flex-shrink: 0;
  height: 37px;
}

.search-bar-input {
  display: block;
  flex-basis: 55%;
  order: 2;
  padding-left: 10px;
}

.search-bar-search-input {
  color: #333;
  font: 18px Arial;
  width: calc(100%);
  outline: none;
  border-width: 0;
  border: 0;
  height: 24px;
  text-indent: 10px;
  background-color: #fff;
}

.search-bar-search-btn {
  outline: none;
  border-width: 0;
  padding-top: 5px;
  height: 26px;
  width: 26px;
  min-width: 26px;
  background-color: #eee;
  order: 3;
  flex-shrink: 0;
  cursor: pointer;
}

.breadcrumb {
  max-height: 15px;
  min-height: 15px;
  height: 15px;
  width: 100%;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #eee;
  color: #7a7a7a;
  font: 14px Arial;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.breadcrumb-element {
  float: left;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.breadcrumb-element-arrow {
  height: 100%;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
  font-weight: 100;
  opacity: 0.5;
}

.item-view {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.item-view-picture {
  padding: 32px;
  margin-left: 0;
  display: flex;
  order: 1;
  flex-shrink: 1;
  flex-basis: 680px;
  height: auto;
}
.item-view-picture img {
  width: 100%;
  height: auto;
}

.item-view-details {
  padding: 32px;
  order: 2;
  flex-basis: 250px;
  flex-shrink: 1;
  margin-right: 0;
  font: 14px Arial;
}

.item-view-desc {
  order: 3;
  margin-right: auto;
  padding-left: 32px;
  padding-top: 32px;
  font: 28px Arial;
  flex-basis: calc(55%);
  min-width: 20px;
}

.item-view-desc-content-wrppr {
  min-width: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 32px;
  font: 16px Arial;
}
